{:paths   ["src"]
 :aliases {:dev      ;for development
           {:extra-paths ["test"]
            :extra-deps  {manifold/manifold   {:mvn/version "0.4.3"}
                          org.clojure/clojurescript {:mvn/version "1.11.121"}}}
           :test     ;run tests under console. e.g. clj -M:dev:test
           {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                         lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}}
            :main-opts  ["-m" "kaocha.runner"]}
           :cljs-test
           {:extra-paths ["test"]
            :extra-deps  {olical/cljs-test-runner {:mvn/version "3.8.1"}}
            :main-opts   ["-m" "cljs-test-runner.main"]}
           :build    ;customized building process running. e.g. clj -T:build ci
           {:deps       {io.github.robertluo/build-clj {:git/sha "5d45f58cc20747c136bb320c9b13d65d2bf4cf58"}}
            :ns-default build}  
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2025.09.22"}}}}}
