{:paths ["src"]
 :aliases
 {:dev
  {:extra-deps
   {manifold/manifold {:mvn/version "0.1.9"}}}
  :eastwood
  {:extra-deps
   {jonase/eastwood {:mvn/version "0.9.9"}}
   :main-opts
   ["-m" "eastwood.lint" {:source-paths ["src"]}]}
  :test
  {:extra-deps
   {lambdaisland/kaocha {:mvn/version "1.60.945"}}
   :main-opts ["-m" "kaocha.runner"]}}}
